name: Windows

on:
  push:
  pull_request:
    branches: [ master ]

jobs:
  build:
    name: ${{ matrix.platform.name }} ${{ matrix.arch.name }} ${{ matrix.type }}
    runs-on: ${{matrix.platform.os}}

    strategy:
      matrix:
        platform:
        - name: VS2019
          os: windows-2019
        - name: VS2022
          os: windows-2022
        arch:
        - name: x86
          arg: Win32
          vcpkg_triplet: x86-windows
        - name: x64
          arg: x64
          vcpkg_triplet: x64-windows
        type: [Debug, Release]

    steps:
    - uses: actions/checkout@v3

    - name: Restore cached vcpkg
      id: cache-vcpkg-restore
      uses: actions/cache/restore@v3
      with:
        path: ${{github.workspace}}/vcpkg_installed
        key: ${{matrix.platform.os}}-${{matrix.arch.vcpkg_triplet}}-${{hashFiles('**/vcpkg.json')}}

    - name: Configure
      shell: bash
      run: |
        cmake \
          -A ${{matrix.arch.arg}} \
          -S $GITHUB_WORKSPACE \
          -B $GITHUB_WORKSPACE/build \
          -DCMAKE_BUILD_TYPE=${{matrix.type}} \
          -DCMAKE_TOOLCHAIN_FILE=$VCPKG_INSTALLATION_ROOT/scripts/buildsystems/vcpkg.cmake \
          -DVCPKG_TARGET_TRIPLET=${{matrix.arch.vcpkg_triplet}} \
          -DVCPKG_INSTALLED_DIR=$GITHUB_WORKSPACE/vcpkg_installed

    - name: Save cached vcpkg
      id: cache-vcpkg-save
      uses: actions/cache/save@v3
      with:
        path: ${{github.workspace}}/vcpkg_installed
        key: ${{matrix.platform.os}}-${{matrix.arch.vcpkg_triplet}}-${{hashFiles('**/vcpkg.json')}}

    - name: Build
      working-directory: ${{github.workspace}}/build
      run: |
        $threads = (Get-CimInstance Win32_ComputerSystem).NumberOfLogicalProcessors
        cmake --build . --config ${{matrix.type}} --parallel $threads

    - name: Run tests
      working-directory: ${{github.workspace}}/build
      env:
        CTEST_OUTPUT_ON_FAILURE: True
      run: |
        $threads = (Get-CimInstance Win32_ComputerSystem).NumberOfLogicalProcessors
        ctest -C ${{matrix.type}} -V